version: '3'
services:
  node-app:
    image: sylon/sample-node-app:v2
    ports:
      - "8080:8080"
    environment:
      - NODE_ENV=production
      - DD_AGENT_HOST=datadog-agent
      - DD_TRACE_AGENT_PORT=8126  # APM agent port
      - DD_SERVICE=my-node-service
      - DD_ENV=production
      - DD_VERSION=1.0

  datadog-agent:
    image: gcr.io/datadoghq/agent:latest
    environment:
      - DD_API_KEY=**********
      - DD_SITE=datadoghq.com
      - DD_APM_ENABLED=true  # Enable APM
    ports:
      - "8126:8126"  # Expose the APM trace port
      - "443:443"    # For Datadog API communication
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
